telethon
pyrogram==2.0.106
tgcrypto
pytz
flask_restful
flask
gunicorn
aiohttp
python-decouple
requests
tabulate
ipaddress 
redis
telegraph
python-decouple
Pillow
pytz
gitpython
yt-dlp
ytdl
youtube-search-python
